<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Warehouses</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" th:href="@{/public/css/nav_bar.css}">
</head>
    <body>

        <!-- partial:index.partial.html -->
        <!-- Navigation Bar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#resNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" th:text="'Компания:  ' + ${company.getName()}">Company Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="resNav">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="/warehouses">Склады</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-lg btn-primary">Выход</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>  <!-- End of Navigation Bar -->

        <!-- Jumbotron -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="jumbotron">
                        <h1>Склады: </h1>

                        <!--            <p class="lead">Some simple text so you can see how awesome i am.</p>-->
                        <!--            <button type="btn" class="btn btn-primary">Click me!</button>-->
                    </div>
                </div>
            </div>
        </div>  <!-- End of Jumbotron -->

        <!-- Simple Article -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
                <table style="border-collapse: collapse">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Телефон</th>
                        <th>Email</th>
                        <th>Адрес офиса</th>
                    </tr>
                    <div th:each="warehouse, iter : ${warehouses} ">

                        <tr>
                            <td><p style="width: 50px"  th:text="${iter.index}">VALUE</p></td>
                            <td><p style="width: 100px" th:text="${warehouse.getName()}">VALUE</p></td>
                            <td><p style="width: 150px" th:text="${warehouse.getPhoneNumber()}">VALUE</p></td>
                            <td><p style="width: 150px" th:text="${warehouse.getEmail()}">VALUE</p></td>
                            <td><p style="width: 150px" th:text="${warehouse.getAddress()}">VALUE</p></td>
                            <td><a th:href="@{/warehouses/{id}(id=${warehouse.getId()})}">
                                Посмотреть информацию / изменить данные
                            </a></td>

                        </tr>

                    </div>
                </table>
                <a class="btn btn-primary" href="create/warehouse" role="button">Добавление нового склада</a>
            </div>
          </div>
        </div>  <!-- End of Simple Article -->

        <!-- partial -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <script  th:src="@{/public/js/script.js}"></script>

    </body>
</html>