<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" th:href="@{/public/css/nav_bar.css}">
</head>
    <body>
        <!-- partial:index.partial.html -->
        <!-- Navigation Bar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#resNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" th:text="'Компания:  ' + ${company.getName()}">Company Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="resNav">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/staff">Staff</a></li>
                    <li><a href="/apply_products">Apply Products</a></li>
                    <li><a href="/warehouses">Склады</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-lg btn-primary">Выход</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End of Navigation Bar -->

        <!-- Jumbotron -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="jumbotron">
                        <h1>Панель персонала: </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Jumbotron -->

        <!-- Simple Article -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Add Employee</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post" th:action="@{/create/employee}" th:object="${employee}">
                                <div class="form-group">
                                    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
                                    <label for="name" class="form-label">ФИО работника</label>
                                    <input type="text" id="name" name="txtName" class="form-control" placeholder="Name *" value="" th:field="*{username}"/>
                                </div>

                                <div class="form-group">
                                    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                                    <label for="password" class="form-label">Пароль</label>
                                    <input type="text" id="password" name="txtName" class="form-control" placeholder="Password *" value="" th:field="*{password}"/>
                                </div>

                                <div class="form-group">
                                    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" id="email" name="txtName" class="form-control" placeholder="Email *" value="" th:field="*{email}"/>
                                </div>

                                <div class="form-group">
                                    <label for="roles" class="form-label">Роль</label>
                                    <select name="status" id="roles" th:field="*{roles}">
                                        <option th:each="role : ${T(com.logisticcomfort.model.Role).values()}"
                                                th:value="${role}" th:text="${role}" ></option>
                                    </select>
                                </div>

                                <div class="form-group" >
                                    <label for="warehouses" class="form-label">Склад</label>
                                    <select id="warehouses"  name="warehouseForEmployee" >
                                        <option th:each="warehouse : ${warehouses}"
                                                th:value="${warehouse.getId()}" th:text="${warehouse.getName()}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="submit" name="btnSubmit" class="btnContact" value="Добавить работника" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <table style="border-collapse: collapse">
                        <tr>
                            <th>id</th>
                            <th>Имя</th>
                            <th>Пароль</th>
                            <th>Email</th>
                            <th>Роль</th>
                            <th>Склад</th>
                        </tr>
                        <div th:each="worker, iter : ${staff} ">
                            <tr th:object="${worker}">
                                <td><p style="width: 50px"  th:text="${iter.index + 1}">VALUE</p></td>
                                <td><p style="width: 100px" th:text="*{username}" >VALUE</p></td>
                                <td><p style="width: 150px" th:text="*{password}">VALUE</p></td>
                                <td><p style="width: 150px" th:text="*{email}">VALUE</p></td>
                                <td><p th:text="${worker.getRole()}">VALUE</p></td>
                                <td><p th:if="*{warehouse != null}" th:text="*{warehouse.getName()}">VALUE</p></td>
                                <td>
                                    <a th:href="@{/staff/show_employee/{id}(id=${worker.getId()})}">
                                    Посмотреть информацию / изменить данные
                                    </a>
                                </td>
                            </tr>
                        </div>
                    </table>
                    <br>
                </div>
            </div>
        </div>
        <!-- End of Simple Article -->

        <!-- partial -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <script  th:src="@{/public/js/script.js}"></script>
    </body>
</html>